
/* Login message */
.error {
    position: absolute;
    top: 9px;
    right: 27px;
    min-width: 269px;
    padding: 0 7px;
}
.error h3{
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 0;
    padding: 13px 0;
    text-align: center;
    background: #ff0000b3;
    border-radius: 4px;
}

.success h3 {
    position: absolute;
    top: 9px;
    right: 0;
    z-index: 999;
    background: #47af1ddb;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 30px;
    color: #000;
    border-radius: 4px;
}


.secured_pages_container {
    margin-left: 133px;
    margin-top: 40px;
}

